<section>
  <h1>Bienvenue sur la page des Planètes du Système Solaire </h1>
  <br />

  <h2>Liste des Planètes</h2>
  <br />
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Type</th>
        <th>Taille </th>
        <th>Masse </th>
        <th>Densité </th>
        <th>Composition de l'Atmosphère </th>
      </tr>
    </thead>
    <tbody>
      {{#each planetsTable}}
        <tr>
          <td> {{this.id_planet}} </td>
          <td> {{this.name}} </td>
          <td> {{this.type}} </td>
          <td> {{this.size}} </td>
          <td> {{this.mass}} </td>
          <td> {{this.density}} </td>
          <td> {{this.atmosphere_composition}} </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <h3> Ajouter une planète du Système Solaire </h3>
  <form method="post" action="/proposals">
    <div>
      <label>Nom de la planète : </label>
      <input type="text" name="name" />
    </div>
    <div>
      <label>Type de la Planète : </label>
      <input type="text" name="type" />
    </div>
    <div>
      <label> Taille de la planète : </label>
      <input type="text" name="size" />
    </div>
    <div>
      <label> Masse de la planète : </label>
      <input type="text" name="mass" />
    </div>
    <div>
      <label> Densité de la planète : </label>
      <input type="text" name="density" />
    </div>
    <label>Composition atmosphérique : </label>
    <div>

      <textarea
        name="atm_composition"
        rows="4"
        cols="50"
        placeholder="Entrer la composition atmosphérique"
      ></textarea>
    </div>

    <div>
      <input type="submit" value="Envoyer" />
    </div>

  </form>
  {{#if errors}}
    <section>
      <h2>Erreurs : </h2>
      {{#each errors}}
        <p class="error-message"> {{this}} </p>
      {{/each}}
    </section>
  {{/if}}
</section>